<div class="entirePage">

<app-buy-crypto></app-buy-crypto>

<app-get-exchange-rates>  </app-get-exchange-rates>

<app-analytics></app-analytics>

<div class="apis">

  <div class="mainCalls">

  <div class="mainPosts">
    <div class="row1">
      <app-swaps></app-swaps>

      <app-transfers></app-transfers>
    </div>

    <div class="row2">
      <app-wallets></app-wallets>

      <app-users></app-users>
    </div>
 </div>

  <app-get-transfers>  </app-get-transfers>

  <app-get-wallets>  </app-get-wallets>

  <app-payment-methods></app-payment-methods>

  </div>

</div>

</div>
