<div class="swaps">
<header class="masthead">
  <div class="swaps-container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-6">


        <div class="swaps-text-center">
          <div class="deconstructed">
          Swap Your Crypto
          <div>Swap Your Crypto</div>
          <div>Swap Your Crypto</div>
          <div>Swap Your Crypto</div>
          <div>Swap Your Crypto</div>
        </div>

        </div>
        <form #send="ngForm" (ngSubmit)="sendFRMData(send.value)">
          <div class="formContainer">
            <div class="form-group">
              <label for="sourceCurrency" class="text-muted">sourceCurrency</label>
              <input
                type="text"
                class="form-control"
                id="sourceCurrency"
                name="sourceCurrencyfrm"
                placeholder="ETH"
                ngModel
                #title="ngModel"
                required
              />
              <span
                class="help-block text-danger"
                *ngIf="!title.valid && title.touched"
                ></span
              >
            </div>
            <br/>
            <div class="form-group">
              <label for="destCurrency" class="text-muted">destCurrency</label>
              <input
                type="text"
                class="form-control"
                id="destCurrency"
                placeholder="BTC"
                name="destCurrencyfrm"
                ngModel
                #body="ngModel"
                required
              />
              <span
                class="help-block text-danger"
                *ngIf="!body.valid && body.touched"
                ></span
              >
            </div>
            <br/>
            <div class="form-group">
              <label for="dest" class="text-muted">dest</label>
              <input
                type="text"
                class="form-control"
                id="dest"
                placeholder="bitcoin:mhkACDPHB5LQ8uidckB1nBPvoTTBS82zb3"
                name="destfrm"
                ngModel
                #userid="ngModel"
                required
              />
              <span
                class="help-block text-danger"
                *ngIf="!userid.valid && userid.touched"
                ></span
              >
            </div>
            <br/>
            <div class="form-group">
            <label for="refundTo" class="text-muted">refundTo</label>
            <input
              type="text"
              class="form-control"
              id="refundTo"
              name="refundTofrm"
              placeholder="account:AC_HTQM9T3ZR3W"
              ngModel
              #userid="ngModel"
              required
            />
            <span
              class="help-block text-danger"
              *ngIf="!userid.valid && userid.touched"
              ></span
            >
            </div>
            <br/>
            <!-- <div class="form-group">
            <label for="masqueradeAs" class="text-muted">masqueradeAs</label>
            <input
              type="text"
              class="form-control"
              id="masqueradeAs"
              name="masqueradeAsfrm"
              ngModel
              #userid="ngModel"
              required
            />
            <span
              class="help-block text-danger"
              *ngIf="!userid.valid && userid.touched"
              >Please give UserID!!</span
            >
           </div> -->
         </div>
          <div class="row">
            <div *ngIf="submitBtn" class="col-sm-6">
              <input
                class="submitIt form-control btn btn-success"
                type="submit"
                [disabled]="!send.valid"
              />
            </div>
            <div *ngIf="editBtn" class="col-sm-6">
              <input
                class="form-control btn btn-success"
                type="button"
                value="EDIT DATA"
                [disabled]="!send.valid"
                (click)="onEditUser(send.value)"
              />
            </div>
            <!-- <div class="col-sm-6">
              <input
                class="form-control btn btn-info"
                type="button"
                value="EDIT"
                (click)="onEdit()"
              />
            </div> -->
          </div>
        </form>
        <div
          *ngIf="alert"
          class="alert alert-warning alert-dismissible fade show alrt w-100 h-50"
          role="alert"
        >
        <div>
        <pre class="box" id="app" rows="60" cols="60" *ngIf="respondedData">

          {{ respondedData | json }}

        </pre>

        <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="onClose()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
     </div>

        </div>
        
        <div
          *ngIf="userId"
          class="alert alert-warning alert-dismissible fade show edit w-100 h-50"
          role="alert"
        >
          <div class="row">
            <div class="col-sm-12">
              <form
                #getdataFrm="ngForm"
                (ngSubmit)="getdata(getdataFrm.value)"
              >
                <div class="form-group">
                  <label for="title" class="text-muted">Id</label>
                  <input
                    type="text"
                    name="id"
                    id="title"
                    class="form-control"
                    ngModel
                  />
                </div>

                <input
                  type="submit"
                  class="btn btn-info btn-block"
                  value="Get Data"
                />
              </form>
            </div>
          </div>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="onEditClose()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<div>
  <div></div>
</div>
</div>