.paymentMethods{
  position: absolute;
  left: 29rem;
  top: 71rem;

}

.alrt{
  background-color: ghostwhite;
  border: 1px solid silver;
  padding: 10px 20px;
  border-radius: 4px;
  width: 37rem;
  height: 20rem;
  overflow: auto;
  top: 22rem;
  left: 11rem;
  position: absolute;

}
.close{
  left: 36rem;
  position: absolute;
  bottom: 19rem;
} 



.paymentMethod-text-center{

  transform: skewY(-10deg);
  color: rgb(0, 0, 0);
  text-shadow: 
    -1px -1px 0 rgb(0, 0, 0),
    -2px -2px 0 rgb(0, 0, 0),
    -3px -3px 0 rgb(0, 0, 0),
    -4px -4px 0 rgb(0, 0, 0),
    -5px -5px 0 rgb(0, 0, 0),
    -6px -6px 0 rgb(255, 255, 255),
    -7px -7px 0 rgb(255, 255, 255),
    -8px -8px 0 rgb(255, 255, 255),
    -30px 20px 40px rgb(0, 0, 0)
}


.blockchains {
  font-weight: bold;
  color:black; 
  font-size: 1.4em;

}

.immediate {
  font-weight: bold;
  color:black;
  font-size: 1.4em;

}

.scope {
  font-weight: bold;
  color:black;
  font-size: 1.4em;

}

.blockchainsInput{
  
  position: absolute;
  left: 8rem;

}

.immediateInput{
  
  position: absolute;
  left: 8rem;

}

.scopeInput{
  
  position: absolute;
  left: 8rem;

}

.form{


  display: inline-grid;
  left: -25rem;
  top: 22rem;
  width: 23rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

.deconstructed {
  position: absolute;
  margin: auto;
  right: 4rem;
  height: 4rem;
  width: 45rem;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 3vw;
  top: 5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}



.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffff64;
  pointer-events: none;
}

.inputText{

    font-weight: bold;
    color:black;
    font-size: 1.4em;

  
}

.paymentMethodInput{
  position: absolute;
    right: 1rem;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: 300;
}


.formContainer{
  height: 28rem;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 34rem;
  left: -13rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  padding: 50px 35px;
}

.formContainer *{

  font-family: "Consolas";
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.submitIt{
  position: absolute;
  left: 2rem;
  width: 6rem;
  top: 32rem;
  cursor: pointer;
  background-color: rgb(39 0 255 / 9%);
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;

}