<div [formGroup]="personForm" class="address">
<div class="formContainer">
   <div class="form-group">
      <label class="firstName">First Name</label>
      <input type="text" formControlName="firstName" placeholder="Legendary" class="firstNameInput" required/>
   </div>
   <br/>
   <div class="form-group">
      <label class="lasttName">Last Name</label>
      <input type="text" formControlName="lastName" placeholder="Dude" class="lastNameInput" required/>
   </div>
   <br/>
   <div class="form-group">

   <div class="form-group">
   <label class="DOB">dateOfBirth</label>
   <input type="text" formControlName="dateOfBirth" placeholder="1990-01-01" class="dateOfBirthInput" required/>
   </div>
   <br/>
   <div class="form-group">  
</div> 

<!-- <label>street1</label>
<input type="text" formControlName="street1" required/>
</div>
<div class="form-group">
<label>city</label>
<input type="text" formControlName="city" required/>
</div>
<div class="form-group">
<label>state</label>
<input type="text" formControlName="state" required/>
</div>
<div class="form-group">
<label>postalCode</label>
<input type="text" formControlName="postalCode" required/>
</div>
<div class="form-group">
<label>country</label>
<input type="text" formControlName="country" required/>
</div> -->

</div>